@font-face {
    font-family: "custom-play";
    src: url('play.woff2') format('woff');
}
@font-face {
    font-family: "custom-dig";
    src: url('digital_(mono).ttf') format('truetype');
}
body {
    position: relative;
    margin: 0;
	display: flex;
	justify-content: center;
}

.screen {
    width: 768px;
    height: 768px;
    background-color: #ededed;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.screen > * {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    /* align-self: 1, 0; */
}
